body {
    font-family: 'Gotham Pro';
}
img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
.title {
    margin: 0;
    font-size: 60px;
    line-height: 70px;
}
.title.-size_1 {
    font-size: 60px;
    line-height: 70px;
}
.title.-size_2 {
    font-size: 36px;
    line-height: 46px;
}
.title.-color_1 {
    color: #f2f2f2;
}
.title.-color_2 {
    color: #545863;
}
.title.-color_3 {
    color: #ffffff;
    text-shadow: 4px 4px 10px #1e253f80;
}
.title.-color_4 {
    color: #ff53ba;
    text-shadow: 4px 4px 10px #715B78;
}
.title.-color_5 {
    color: #31343b;
}
.title.-uppercase {
    text-transform: uppercase;
}
span.-color_1 {
    color: #da413f;
}
span.-color_2 {
    color: #ff53ba;
    text-shadow: 4px 4px 10px #715B78;
}
.main-title {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}

.guarantees {
    background: #000000 url('../img/bg-1.jpg') no-repeat 50% 50%;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 50px;
}
.guarantees__title {
    color: #f2f2f2;
    font-size: 36px;
    line-height: 46px;
}
.achievements {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    max-width: 640px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.achievements__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 175px;
}
.achievements__item.-middle {
    max-width: 225px;
}
.achievements__img-wrapper {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}
.achievements__description {
    font-family: 'Gotham Pro';
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    margin-left: 10px;
}
.guarantees__img-wrapper {
    max-width: 315px;
    width: 100%;
    height: 380px;
    position: absolute;
    bottom: -20px;
    right: 130px;
    overflow: hidden;
}
.guarantees__img-wrapper img {
    position: static;
    transform: none;
    width: 100%;
    height: 100%;
}
.guarantees__wrapper {
    max-width: 705px;
    width: 100%;
    margin-top: 30px;
}
.guarantees__list {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}
.guarantees__text {
    padding-left: 30px;
    margin-bottom: 10px;
    background: transparent url('../img/icon-4.svg') no-repeat 0 50%;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #f2f2f2;
}
.order {
    background: linear-gradient(#ffffff , #e8e7e7);
    padding: 25px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    box-sizing: border-box;
}
.order__column {
    position: relative;
    width: 100%;
}
.order__column.-timer-box {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.order__description {
    font-size: 14px;
    line-height: 24px;
    color: #545863;
    margin: 0;
}
.order__description.-main {
    margin-top: 5px;
    font-weight: 700;
}
.order__text-timer {
    font-size: 14px;
    line-height: 24px;
    color: #545863;
    text-transform: uppercase;
    font-weight: 700;
}
.order__container-timer {
    width: 240px;
    max-width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0 20px;
    border: 1px solid #54586380;
    margin-top: 10px;
    background-color: #ffffff;
}
.order__number-timer {
    margin: 0;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    color: #545863;
    text-transform: uppercase
}
.order__feedback-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.order__feedback-container-input {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}
.order__feedback-input, select {
    max-width: 240px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0 20px;
    line-height: 50px;
    font-size: 14px;
    color: #545863;
    outline: none;
    margin-right: 20px;
    border: 1px solid #54586380;
}
select.order__feedback-input {
    cursor: pointer;
}
.order__feedback-input::placeholder {
    color: #aeaab3;   
}
.order__feedback-input.-button {
    background-color: #ed3f3d;
    box-shadow: 1px 1px 20px #3b01000d;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 0;
}
.order__feedback-input.-button:hover {
    background: #ff53ba;
    box-shadow: 0px 2px 10px #00000040;
}
.order__feedback-input.-button:active {
    background-color: #dd3533;
}
.operating-principle {
    background-color: #545863;
    overflow: hidden;
}
.operating-principle__img-wrapper {
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    background: url('../img/photo-1.jpg') no-repeat 50% 50%;
    background-size: cover;
}
.operating-principle__column {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 540px 40px 0;
    background-image: linear-gradient(to left, #383B42 0%, #545863 100%);
}
.title_operating-principle {
    margin-top: 20px;
}
.operating-principle__text {
    margin: 0;
    margin-top: 20px;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;    
}
.girls-comments {
    background: #7b8192 url('../img/bg-3.png') repeat-x 0 0;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 110px;
}
.title_girls-comments-main {
    padding: 0 20px;
}
.title_girls-comments {
    padding: 0 20px;
    margin-top: 20px;
}
.slider {
    max-width: 1000px;
    margin: 35px auto 30px;
    position: relative;    
}
.slider__slider-container {
    padding: 0 90px;
    z-index: 5;
    position: relative;    
}
.slider__slide-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider__img-wrapper {
    overflow: hidden;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 30px;
    position: relative;
    text-shadow: 4px 4px 10px #1e253f80;
}
.slider__slide {
    text-align: left;
    outline: none;
}
.slider__comment {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    text-shadow: 4px 4px 10px #1e253f80;
}
.slider__autor {
    display: inline-block;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
    margin-top: 10px;
}
.slider__arrow {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent url('../img/icon-5.png') no-repeat 50% 50%;
    background-size: contain;
    width: 25px;
    height: 80px;   
    transition: padding 0.3s;
}
.slider__arrow_pre:hover {
    padding-right: 15px;
}
.slider__arrow_next:hover {
    padding-left: 15px;
}
.slider__arrow_pre {
    left: 20px;
}
.slider__arrow_next {
    transform: translateY(-50%) rotate(180deg);
    right: 20px;
}
.slider__dot {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    left: 50%;
    bottom: -50px;
    transform: translate(-50%);
}
.slider__dot button {
    display: none;
}
.slider__dot li {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d1d1d1;
    margin: 0 10px;
}
.slider__dot li:hover {
    background-color: #ffffff;
}
.slider__dot .slick-active {
    background-color: #ffffff;
}
.peptides {
    background-color: #191a1e;
}
.peptides__column {
    background: linear-gradient(to left, #191a1e 0%, #545863 100%);
    text-align: right;
    max-width: 720px;
    padding-left: 480px;
}
.container_peptides {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 0;
}
.peptides__row {
    padding: 40px 20px;
    padding-left: 30px;
}
.peptides__row.-bottom {
    background-color: #ffffff;
    text-align: left;
    padding: 40px 20px 40px 50px;
}
.peptides__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 500px;
    width: 100%;
    height: 100%;
    background: #000000 url('../img/bg-5.jpg') no-repeat 50% 50%;
    background-size: cover;
}
.peptides__text {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    color: #31343b;
}
.composition {
    background-color: #191a1e;
    padding: 50px 20px;
    padding-bottom: 110px;
    box-sizing: border-box;
}
.slider.-composition {
    max-width: 1080px;
    box-shadow: 10px 10px 20px #00000080;
    margin: 0 auto;
}
.slider.-composition
.slider__slider-container {
    padding: 0;
}

.slider.-composition 
.slider__img-wrapper {
    border-radius: 0;
    margin-right: 0;
    height: 100%;
    width: 210px;
}
.slider.-composition 
.slider__slide-wrapper {
    align-items: stretch;
}
.slider.-composition 
.slider__slide-column:last-child {
    background-color: #ffffff;
    padding: 40px 50px;
}
.slider.-composition 
.slider__comment {
    font-size: 14px;
    line-height: 30px;
    color: #31343b;
}
.demand {
    background: #7b8192 url('../img/bg-3.png') repeat-x 0 0;
    padding-top: 80px;
    padding-bottom: 85px;
}
.container-demand {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 940px;
    box-sizing: border-box;
}
.demand__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}
.demand__button {
    cursor: pointer;
    display: block;
    width: 240px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 2px 10px #00000040,
    4px 4px 20px #3b01001a;
    background-color: #ed3f3d;
    border: none;
    align-self: center;
    outline: none;
    transition: background 0.3s;
}
.demand__button:hover {
    background: #ff53ba;
    box-shadow: 0px 2px 10px #00000040;
}
.demand__button:active {
    background-color: #dd3533;
}
.demand__text {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-shadow: 0px 4px 4px #00000040;
}
.circle-chart__circle  {
    transform: rotate(-90deg);
    transform-origin: center; 
}
.test-results {
    padding-top: 30px;
}
.test-results__slider .slick-track {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 100%;
}
.test-results__circle-wrapper {
    margin-top: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-results__slide {
    min-width: 215px;
    outline: none;
}
.test-results__slide-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.test-results__percent {
    font-size: 36px;
    line-height: 46px;
    color: #393c47;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-weight: 700;
}
.test-results__description {
    max-width: 210px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #393C47;
}
.test-results .title {
    text-align: center;
}
.test-results__slider {
    position: relative;
    overflow: hidden;
    padding-bottom: 45px;
}
.test-results__svg-filter {
    position: absolute;
    visibility: hidden;
}
.men-comments {
    background: #7b8192 url(../img/bg-3.png) repeat-x 0 0;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 110px;
}
.men-comments .title {
    max-width: 900px;
    margin: 0 auto;
}
.comments-pop-person {
   background-image: linear-gradient(to left,  #191a1e 50%, #545863 50%);
   overflow: hidden;
}
.comments-pop-person__wrapper {
    width: 500px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
.comments-pop-person__img-wrapper img {
    top: 0;
    transform: translate(-50%, 0);
}
.comments-pop-person .container {
    position: relative;
}
.comments-pop-person__column {
   background-image: linear-gradient(to left, #191a1e 0%, #545863 100%);
   padding-top: 40px;
   padding-bottom: 50px;
   padding-right: 480px;
   max-width: 720px;
}
.comments-pop-person__text {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    padding-right: 40px;
    text-shadow: 4px 4px 10px #1e253f80;
}
.comments-pop-person__autor {
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 4px 4px 10px #1e253f80;
}
.comments-pop-person__autor span {
    font-weight: 400;
    font-size: 14px;
}
.comments-pop-person__title-wrapper {
    background: #7b8192 url(../img/bg-3.png) repeat-x 0 0;
    background-size: cover;
    padding: 40px 20px 20px;
    text-align: right;
}
.specialist .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 0;
}
.specialist .comments-pop-person__column {
    padding-right: 0;
    padding-top: 0;
    padding-left: 480px;
    background-image: none;
    background-color: #ffffff;
}
.specialist .comments-pop-person__wrapper {
    left: 0;
    right: unset;
}
.comments-pop-person__text-wrapper {
    padding-left: 50px;
}
.specialist .comments-pop-person__text {
    margin: 0;
    margin-top: 40px;
    padding-right: 20px;
    color: #31343b;
    text-shadow: none;
}
.specialist .comments-pop-person__autor {
    display: inline-block;
    margin-top: 40px;
    color: #31343b;    
    text-shadow: none;
}
.method-use {
    background-image: linear-gradient(to left, #191a1e 50%, #545863 50%);
    position: relative;
    overflow: hidden;
}
.method-use__img-wrapper {
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
.method-use__column {
    background-image: linear-gradient(to left, #191a1e, #545863);
    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 500px;
    max-width: 720px;
}
.method-use__list-procedure {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    list-style-type: none;
}
.method-use__procedure {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 30px;
    background: transparent url(../img/icon-4.svg) no-repeat 0 7px;
}
.delivery-box ul {
    width: unset;
}
.order__container-timer {
    padding: 0;
}

@media (max-width: 1200px) {
    .guarantees__img-wrapper {
        max-width: 245px;
        height: 310px;
        right: 100px;
    }
    .test-results__slider .slick-track {
        display: block;
        min-width: unset;
    }
    .test-results .container {
        max-width: 720px;
        padding: 0;
    }
    .test-results .title {
        font-size: 36px;
        line-height: 50px;
    }
    .test-results__slider:before,
    .test-results__slider:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        box-shadow: 0 0 55px 25px #ffffff;
        background-color: red;
        z-index: 10;
    }
    .test-results__slider:after {
        left: unset;
        right: 0;
    }
    .test-results__slider {
        padding-bottom: 90px;
    }
    .test-results__slider .slider__dot {
        bottom: 45px;
    }
    .test-results__slider .slider__dot li {
        background-color: #575c67;
    }
    .test-results__slider .slider__dot .slick-active {
        background-color: #8a90a1;
    }
    .test-results__slider>div {
        z-index: 5;
    }
}
@media (max-width: 1080px) {
    .container {
        max-width: 720px;
    }
    .title {
        line-height: 60px;
    }
    .title.-size_1 {
        font-size: 36px;
        line-height: 50px;
    }
    .guarantees__title {
        font-size: 20px;
        line-height: 30px;
    }
    .guarantees {
        background: #000000 url(../img/bg-1.jpg) no-repeat 0% 50%;
        background-size: cover;
        padding-bottom: 0;
    }
    .guarantees__wrapper {
        max-width: 390px;
    }
    .guarantees__img-wrapper {
        right: 20px;
        bottom: 0;
        max-width: 295px;
        height: 360px;
    }
    .guarantees__text {
        max-width: 330px;
        box-sizing: border-box;
        background-position: 0 7px;
    }
    .guarantees__wrapper {
        margin-top: 15px;
    }
    .guarantees__list {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .order {
        max-width: 100%;
        padding: 30px 20px;
        position: relative;
    }
    .order__feedback-form {
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 720px;
        margin: 0 auto;
    }
    .order__column.-timer-box {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        margin-top: 20px;
    }
    .order__timer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 215px;
        margin-right: 20px;
    }
    .order__text-timer {
        line-height: 14px;
        text-transform: unset;
    }
    .order__feedback-container-input {
        margin-top: 15px;
    }
    .order__feedback-input:last-child {
        margin-right: 0;
    }
    .order__feedback-input {
        max-width: 210px;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }
    select  {
        height: 40px;
        line-height: 40px;
        margin-right: 0;
        max-width: 210px;  
    }
    .order__feedback-input.-button {
        width: 210px;
        height: 70px;
        padding: 0;
        line-height: 70px;
        font-size: 16px;
        line-height: 30px;
    }
    .order__container-timer {
        padding: 0 5px;
        margin: 0;
    }
    .operating-principle__img-wrapper {
        z-index: 5;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 100vw;
        filter: blur(5px);
    }
    .operating-principle__column {
        width: 100%;
        z-index: 10;
        position: relative;
        background-image: unset;
        padding-right: 0;
        padding: 20px;
    }
    .operating-principle__column * {
        position: relative;
        z-index: 10;
    }
    .operating-principle__column:before {
        content: '';
        z-index: 5;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw; 
        height: 100%;
        background-color: #00000099;
    }
    .operating-principle__column {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .slider__slide-wrapper {
        flex-direction: column;
    }
    .slider__img-wrapper {
        margin: 0;
        margin-bottom: 20px;
    }
    .slider__arrow {
        top: 75px;
    }
    .slider__slider-container {
        padding: 0 50px;
    }
    .slider__slide {
        text-align: center;
    }
    .girls-comments {
        background-image: url('../img/bg-4.png');
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .peptides__column {
        padding: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .peptides__row {
        order: 1;
        text-align: left;
        padding-top: 30px;
    }
    .peptides__img-wrapper {
        position: static;
        max-width: 100%;
        width: 100%;
        height: 250px;
        order: 2;
        background-image: url('../img/bg-6.jpg');
    }
    .peptides__row.-bottom {
        order: 3;
        background-image: linear-gradient(to left, #191a1e 0%, #545863 100%);
    }
    .peptides__row .title {
        color: #ffffff;
        text-shadow: 4px 4px 10px #1e253f80;
    }
    .peptides__text {
        color: #ffffff;
        text-shadow: 4px 4px 10px #1e253f80;
    }
    .container_peptides {
        max-width: 100%;
        justify-content: center;
        padding-left: 0;
    }
    .peptides__row .title {
        font-size: 60px;
        line-height: 70px;
        max-width: 670px;
    }
    .composition {
        padding: 0;
        padding-bottom: 110px;
    }
    .slider.-composition
    .slider__img-wrapper {
        width: 100%;
        height: 250px;
        margin: 0;
    }
    .slider.-composition
    .slider__dot {
        bottom: -70px;
    }
    .slider.-composition
    .slider__slide-column:last-child {
        text-align: left;
    }
    .demand {
        padding: 35px 0;
    }
    .container-demand {
        text-align: center;
    }
    .demand__row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;    
    }
    .demand__button {
        margin: 0;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .demand__text {
        font-size: 14px;
        line-height: 24px;
    }
    .test-results .title {
        font-size: 36px;
        line-height: 50px;
        padding: 0 20px;
    }
    .test-results {
        padding-top: 35px;
    }
    .test-results__circle-wrapper {
        margin-top: 35px;
    }
    .men-comments {
        background-image: url('../img/bg-4.png');
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .men-comments .title {
        font-size: 36px;
        line-height: 50px;
        max-width: 600px;
    }
    .slider__comment {
        text-shadow: none;
    }
    .comments-pop-person__wrapper {
        position: relative;
        top: unset;
        left: unset;        
        right: unset;
        height: 70vw;
        max-width: 100%;
        width: 100%;
        order: 2;
        overflow: unset;
        margin-top: 30px;
    }
    .comments-pop-person__img-wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100%;
        overflow: hidden;
    }
    .comments-pop-person__img-wrapper img {
        width: 100vw;
    }
    .comments-pop-person__text {
        padding: 0;
        margin-top: 20px;
    }
    .comments-pop-person__column {
        padding: 30px 0 40px;
    } 
    .specialist .container {
        display: block;
        padding: 0 20px;
    }
    .specialist .comments-pop-person__column {
        padding: 0;
    }
    .specialist .title {
        text-align: left;
        max-width: 720px;
        margin: 0 auto;
    }
    .specialist .container {
        max-width: 100%;
        padding: 0;
    }
    .specialist .comments-pop-person__column {
        max-width: 100%;
    }
    .specialist .comments-pop-person__wrapper {
        margin-top: 0;
    }
    .specialist .comments-pop-person__text {
        padding: 0;
    }
    .comments-pop-person__text-wrapper {
        max-width: 720px;
        box-sizing: border-box;
        padding: 0 40px;
        padding-left: 50px;
        padding-bottom: 40px;
        margin: 0 auto;
    }
    .specialist .comments-pop-person__wrapper {
        height: 80vw;
    }
    .method-use__img-wrapper {
        z-index: 5;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 100vw;
        height: 100%;
        filter: blur(5px);
        max-width: 100vw;
    }
    .method-use__column {
        padding-right: 0;
        z-index: 10;
        position: relative;
        background-color: transparent;
        background-image: none;
    }
    .method-use__column:before {
        content: '';
        z-index: 5;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 100%;
        background-color: #00000099;
    }
    .method-use__column * {
        z-index: 10;
        position: relative;
    }
    .method-use__procedure {
        background-position: 0 7px;
    }
    .method-use__column {
        padding-top: 40px;
    }
}
@media (max-width: 680px) {
    .achievements__item.-middle {
        margin: 0 10px;
    }
    .guarantees__img-wrapper {
        right: 20px;
        bottom: 0;
        max-width: 225px;
        height: 290px;
    }
}
@media (max-width: 580px) {
    .title {
        font-size: 30px;
        line-height: 30px;
    }
    .achievements {
        display: none;
    }
    .guarantees {
        padding-top: 15px;
        background-position: 50% -780px;
    }
    .guarantees__img-wrapper {
        margin: 0 auto;
        position: static;
        margin-top: 10px;
        max-width: 280px;
        height: 330px;
    }
    .guarantees__text {
        max-width: 100%;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
        padding-bottom: 10px;
        background-position: 0 5px;
    }
    .guarantees__wrapper {
        max-width: 100%;
    }
    .order {
        padding: 10px 20px 20px;
    }
    .title.-size_2 {
        font-size: 20px;
        line-height: 30px;
    }
    .title_order {
        padding-right: 20px;
    }
    .order__description {
        font-size: 14px;
        line-height: 20px;        
    }
    .order__description.-main {
        margin-bottom: 5px;
        padding-right: 80px;
    }
    .order__feedback-container-input {
        flex-direction: column;
        align-items: center;
        margin-top: 95px;
        width: 100%;
    }
    .order__feedback-input {
        width: 100%;
        max-width: 100%;
        height: 50px;
        line-height: 50px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .order__column.-timer-box {
        margin-top: 0;
    }
    .order__timer-wrapper {
        position: absolute;
        top: -265px;
        left: 0;
        margin-right: 0;
        width: 100%;
        max-width: 100%;
        height: 75px;
    }
    .order__container-timer {
        width: 100%;
    }
    .order__feedback-input.-button {
        width: 100%;
        font-size: 20px;
        line-height: 30px;        
    }
    .operating-principle__text {
        line-height: 20px;
        margin-top: 10px;
    }
    .title.-size_1 {
        font-size: 30px;
        line-height: 30px;
    }
    .title.title_operating-principle {
        font-weight: 400;
        margin-top: 5px;
        line-height: 20px;
    }
    .operating-principle__column {
        padding: 20px 0 25px;
    }
    .title.title_girls-comments-main {
        font-size: 20px;
        text-shadow: none;
    }
    .title.title_slider {
        line-height: 20px;
        padding: 0 70px;
        margin-top: 10px;
        font-weight: 400;
    }
    .girls-comments {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .title_girls-comments {
        margin-top: 10px;
        font-weight: 400;
        line-height: 20px;
    }
    .slider__arrow {
        display: none;
    }
    .slider__slider-container {
        padding: 0 20px;
    }
    .peptides__row {
        padding: 20px 20px 10px;
        padding-right: 55px;
    }
    .peptides__row.-bottom {
        padding: 20px;
    }
    .peptides__row .title {
        font-size: 20px;
        max-width: 340px;
    }
    .peptides__row.-bottom .title {
        max-width: 100%;
    }
    .peptides__img-wrapper {
        height: 110px;
    }
    .peptides__text {
        line-height: 20px;
        margin-top: 5px;
    }
    .slider.-composition
    .slider__img-wrapper {
        height: 130px;
    }
    .slider.-composition
    .slider__slide-column:last-child {
        padding: 20px;
    }
    .slider.-composition
    .slider__comment {
        line-height: 20px;
    }
    .slider.-composition
    .slider__dot {
        bottom: -50px;
    }
    .composition {
        padding-bottom: 80px;
    }
    .demand {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .demand .title {
        font-size: 20px;
    }
    .demand__button {
        margin: 15px 0;
    }
    .demand__text {
        line-height: 20px;
        max-width: 300px;
    }
    .test-results .title {
        font-size: 20px;
        line-height: 20px;
    }
    .test-results__slider {
        padding-bottom: 70px;
    }
    .test-results__slider .slider__dot {
        bottom: 35px;
    }
    .test-results__circle-wrapper {
        margin-top: 20px;
    }
    .slider__comment {
        line-height: 20px;
    }
    .men-comments .title {
        max-width: 430px;
        font-size: 20px;
        line-height: 20px;
        padding: 0 20px;
    }
    .comments-pop-person .title {
        font-size: 20px;
        line-height: 20px;
    }
    .comments-pop-person__column {
        padding: 25px 0 30px;
    }
    .comments-pop-person__wrapper {
        margin-top: 15px;
    }
    .comments-pop-person__text {
        margin-top: 25px;
        line-height: 20px;
    }
    .comments-pop-person__title-wrapper {
        padding: 25px 20px 15px;
    }
    .specialist .comments-pop-person__text {
        margin-top: 25px;
    }
    .comments-pop-person__text-wrapper {
        padding: 0 20px;
        padding-bottom: 25px;
    }
    .specialist .comments-pop-person__autor {
        max-width: 225px;
        margin-top: 25px;
    }
    .method-use__column {
        padding: 25px 0;
    }
    .method-use .title {
        line-height: 20px;
        padding-right: 20px;
    }
    .method-use__list-procedure {
        margin-top: 10px;
    }
    .method-use__procedure {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        padding-bottom: 10px;
        background-position: 0 5px;
    }
}