body, html, ul, li {
	padding: 0;
	margin: 0;
}
body {
	position: relative;
	background-color: #000;
	font-family: "Gilroy-Regular";
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
header, main ,footer {
	z-index: 5;
	min-width: 1127px;
	padding: 0 160px;
}
@media screen and (max-width: 1200px) {
	header, main, footer {
		padding: 0 80px;
	}	
}
footer {
	height: 100%;
}
header a {
	text-decoration: none;
	color: #ffff;
	line-height: 110px;
}

.partners {
	z-index: 5;
	min-width: 400px;
	position: relative;
	float: left;
}
.partners::after {
	position: absolute;
	top: 50%;
	left: 36%;
	transform: translate(-50%, -50%);
	content: "";
	display: block;
	width: 2px;
	height: 110px;
	background-color: #fff;
}
.partners a {
	float: left;
	padding-right: 10px;
}
.authorization {
	z-index: 5;
	font-weight: 700;
	font-family: PT Mono;
	position: relative;
	width: 200px;
	float: right;
}
.authorization::after {
	position: absolute;
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background-color: #fff;
	top: 50%;
	left: 66px;
	transform: translate(-50%, -50%);
}
.login {
	float: left;
}
.check-in {
	float: right;
}
.rostelecom {
	font-size: 18px;
	font-weight: 400;
}
.sirius {
	display: block;
	width: 215px;
	height: 67px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background: url("../img/sirius.png") no-repeat 50% 50%;
}
.nav {
	padding-top: 27px;
	float: left;
}
.nav ul {
	list-style-type: none;
}
.nav a {
	font-family: PT Mono;
	font-weight: 700;
	color: white;
	text-decoration: none;
	line-height: 50px;
	display: block;
}
main {
	position: relative
}
.olimp-title {
	float: left;
	margin-left: 175px;
}
.olimp-title h1 {
	font-weight: 700;
	font-family: Gilroy-Bold;
	margin: 0;
	font-size: 109px;
	line-height: 115px;
	color: #ffffff;
}
.olimp-title h3 {
	font-weight: 400;
	font-family: Gilroy-SemiBold;
	margin: 0;
	padding-top:50px;
	font-size: 35px;
	line-height: 47px;
	color: #00bbbb;
	text-transform: uppercase;
}
.olimp-title p {
	font-size: 16px;
	color: #ffffff;
	line-height: 36px;
	font-family: PT Mono;
	font-weight: 400;
	letter-spacing: 1.5px;
}
.before-the-end {
	z-index: 5;
	position: absolute;
	bottom: 0;
    right: 160px;
	padding: 0 44px;
	background-color: #00bbbb;
	color: #ffffff;
}
.before-the-end  p {
	font-weight: 700;
	font-size: 16px;
	font-family: PT Mono;
	line-height: 25px;
	margin-top: 20px;
	margin-bottom: 0;
}
.before-the-end  h2 {
	font-family: Gilroy-Bold;
	margin: 0;
	font-size: 42px;
	line-height: 104px;
	letter-spacing: 0.9px;
	font-weight: 700;
}
.particles-js-canvas-el {
	z-index: 1;
}



















canvas { 
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;
}
